In [40]:
import json
import requests
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [46]:
# Data Source:https://www.kaggle.com/datasets/sarahquesnelle/canada-data
Temperature_DF = pd.read_csv("Resources/Canada_Temperature_Data.csv")

Temperature_DF2 = Temperature_DF.loc[(Temperature_DF["Year"] >= 1989) & (Temperature_DF["Year"] <= 2020), :]

Prov_DF = Temperature_DF2.loc[Temperature_DF2["Prov"].isin(["ON", "AB", "QC"]), :]

Canada_Temperature_DF = Prov_DF.drop("Stn_Name", axis=1)

Canada_Temperature_DF


# define the conditions for each season
conditions = [
    (Canada_Temperature_DF['Month'].isin([12, 1, 2])),
    (Canada_Temperature_DF['Month'].isin([3, 4, 5])),
    (Canada_Temperature_DF['Month'].isin([6, 7, 8])),
    (Canada_Temperature_DF['Month'].isin([9, 10, 11]))
]

# define the corresponding values for each season
values = ['Winter', 'Spring', 'Summer', 'Fall']

# create a new column 'Season' based on the conditions and values
Canada_Temperature_DF['Seasons'] = np.select(conditions, values)




Canada_Temperature_DF.rename(columns={'Prov': 'Province','Tm': 'Average Temperature', 'S': 'Average Snowfall Recorded', 'P': 'Average Precipitation Recorded'}, inplace=True)



Canada_Temperature_DF['Average Temperature'] = Canada_Temperature_DF['Average Temperature'].astype(float)
Canada_Temperature_DF['Average Snowfall Recorded'] = Canada_Temperature_DF['Average Snowfall Recorded'].astype(float)
Canada_Temperature_DF['Average Precipitation Recorded'] = Canada_Temperature_DF['Average Precipitation Recorded'].astype(float)


Canada_Temperature_DF

,Year,Month,Province,Average Temperature,Average Snowfall Recorded,Average Precipitation Recorded,Seasons
941030,1989,1,AB,-10.4,27.0,35.5,Winter
941031,1989,1,AB,-11.1,24.0,28.0,Winter
941032,1989,1,AB,-12.8,37.5,43.5,Winter
941033,1989,1,AB,-9.1,36.0,54.0,Winter
941034,1989,1,AB,-12.9,20.2,23.2,Winter
...,...,...,...,...,...,...,...
1357243,2017,9,QC,13.5,0.0,62.4,Fall
1357244,2017,9,QC,14.5,0.0,83.8,Fall
1357245,2017,9,QC,14.1,0.0,52.2,Fall
1357246,2017,9,QC,9.3,0.0,76.4,Fall
1357247,2017,9,QC,6.6,1.0,65.6,Fall

In [47]:
# group by year, season, and province
grouped = Canada_Temperature_DF.groupby(['Year', 'Seasons', 'Province'])

# calculate summary statistics
summary_stats = grouped.agg({'Average Temperature': ['mean', 'median', 'std', 'var', 'sem'],
                             'Average Snowfall Recorded': ['mean', 'median', 'std', 'var', 'sem'],
                             'Average Precipitation Recorded': ['mean', 'median', 'std', 'var', 'sem']})

# flatten multi-level column names
summary_stats.columns = ['_'.join(col).strip() for col in summary_stats.columns.values]

# reset index
summary_stats = summary_stats.reset_index()


Prov_ON = summary_stats.loc[summary_stats["Province"].isin(["ON"]), :]
Prov_AB = summary_stats.loc[summary_stats["Province"].isin(["AB"]), :]
Prov_QC = summary_stats.loc[summary_stats["Province"].isin(["QC"]), :]

# print summary statistics by year, season, and province
print(Prov_AB)

     Year Seasons Province  Average Temperature_mean  \
0    1989    Fall       AB                  4.543175
3    1989  Spring       AB                  3.222601
6    1989  Summer       AB                 15.048938
9    1989  Winter       AB                -10.994872
12   1990    Fall       AB                  4.170015
..    ...     ...      ...                       ...
333  2016  Winter       AB                 -7.712791
336  2017    Fall       AB                  2.961905
339  2017  Spring       AB                  3.525373
342  2017  Summer       AB                 16.726984
345  2017  Winter       AB                 -8.559091

     Average Temperature_median  Average Temperature_std  \
0                          5.05                 5.929142
3                          5.25                 7.314569
6                         15.20                 2.449415
9                        -11.10                 4.073731
12                         4.10                 8.153589
..                          ...                      ...
333                       -8.35                 4.955159
336                        4.70                 8.327751
339                        3.30                 7.493984
342                       16.40                 1.781193
345                       -8.35                 3.196680

     Average Temperature_var  Average Temperature_sem  \
0                  35.154730                 0.228382
3                  53.502915                 0.259912
6                   5.999636                 0.074430
9                  16.595282                 0.168428
12                 66.481008                 0.313368
..                       ...                      ...
333                24.553599                 0.534329
336                69.351429                 1.049198
339                56.159801                 0.915536
342                 3.172647                 0.224409
345                10.218762                 0.393484

     Average Snowfall Recorded_mean  Average Snowfall Recorded_median  \
0                          8.360831                               3.0
3                         13.977778                               8.0
6                          0.413019                               0.0
9                         25.420513                              21.3
12                        16.314771                               6.2
..                              ...                               ...
333                       13.203488                              11.2
336                       14.480952                              11.2
339                       16.210448                              11.6
342                        0.000000                               0.0
345                       14.709091                              11.8

     Average Snowfall Recorded_std  Average Snowfall Recorded_var  \
0                        11.967899                     143.230618
3                        17.545601                     307.848128
6                         3.012875                       9.077418
9                        19.843244                     393.754339
12                       24.086585                     580.163598
..                             ...                            ...
333                      10.122630                     102.467635
336                      15.568360                     242.373825
339                      18.138584                     329.008223
342                       0.000000                       0.000000
345                      11.909837                     141.844224

     Average Snowfall Recorded_sem  Average Precipitation Recorded_mean  \
0                         0.460986                            28.387240
3                         0.623456                            35.795328
6                         0.091552                            85.321145
9                         0.820417                            26.044615
12                        0.925723                            25.081979
..                             ...                                  ...
333                       1.091551                            12.569767
336                       1.961429                            34.541270
339                       2.215981                            42.041791
342                       0.000000                            51.598413
345                       1.466000                            14.501515

     Average Precipitation Recorded_median  \
0                                     25.2
3                                     28.6
6                                     77.5
9                                     22.0
12                                    17.8
..                                     ...
333                                   11.8
336                                   29.2
339                                   38.4
342                                   45.4
345                                   11.0

     Average Precipitation Recorded_std  Average Precipitation Recorded_var  \
0                             19.345395                          374.244324
3                             30.944825                          957.582216
6                             46.196241                         2134.092667
9                             19.599674                          384.147236
12                            25.978907                          674.903610
..                                  ...                                 ...
333                            9.118476                           83.146605
336                           22.156697                          490.919237
339                           25.675057                          659.208530
342                           32.189006                         1036.132094
345                           11.698027                          136.843844

     Average Precipitation Recorded_sem
0                              0.745157
3                              1.099576
6                              1.403759
9                              0.810347
12                             0.998451
..                                  ...
333                            0.983271
336                            2.791481
339                            3.136707
342                            4.055434
345                            1.439928

[116 rows x 18 columns]

In [48]:
# save summary_stats to Excel file
summary_stats.to_excel('summary_stats.xlsx', index=False)

In [49]:
provices_result = pd.read_csv("Resources/Economic_Sector_Prov.csv")
provices_result.head()

,Year,Region,Index,Source,Category,Sub-category,Sub-sub-category,Total,CO2eq,Unit
0,1990,Alberta,0,Provincial Inventory Total,NaN,NaN,NaN,True,165.65,Mt
1,1990,Alberta,1,Oil and Gas,NaN,NaN,NaN,True,61.96,Mt
2,1990,Alberta,2,Oil and Gas,Upstream Oil and Gas,NaN,NaN,True,58.36,Mt
3,1990,Alberta,3,Oil and Gas,Upstream Oil and Gas,Natural Gas Production and Processing,NaN,False,23.94,Mt
4,1990,Alberta,4,Oil and Gas,Upstream Oil and Gas,Conventional Oil Production,NaN,True,15.49,Mt

In [50]:
Gas_DF = provices_result.loc[provices_result["Source"].isin(["Oil and Gas"]), :]
Gas_DF

,Year,Region,Index,Source,Category,Sub-category,Sub-sub-category,Total,CO2eq,Unit
1,1990,Alberta,1,Oil and Gas,NaN,NaN,NaN,True,61.96,Mt
2,1990,Alberta,2,Oil and Gas,Upstream Oil and Gas,NaN,NaN,True,58.36,Mt
3,1990,Alberta,3,Oil and Gas,Upstream Oil and Gas,Natural Gas Production and Processing,NaN,False,23.94,Mt
4,1990,Alberta,4,Oil and Gas,Upstream Oil and Gas,Conventional Oil Production,NaN,True,15.49,Mt
5,1990,Alberta,5,Oil and Gas,Upstream Oil and Gas,Conventional Oil Production,Conventional Light Oil Production,False,9.77,Mt
...,...,...,...,...,...,...,...,...,...,...
17075,2020,Saskatchewan,14,Oil and Gas,Downstream Oil and Gas,Petroleum Refining,NaN,False,1.19,Mt
17076,2020,Saskatchewan,15,Oil and Gas,Downstream Oil and Gas,Natural Gas Distribution,NaN,False,0.22,Mt
17111,2020,Yukon,1,Oil and Gas,NaN,NaN,NaN,True,0.00,Mt
17112,2020,Yukon,2,Oil and Gas,Upstream Oil and Gas,NaN,NaN,True,0.00,Mt
17113,2020,Yukon,3,Oil and Gas,Upstream Oil and Gas,Natural Gas Production and Processing,NaN,False,0.00,Mt

In [51]:
Gas_DF_total = Gas_DF.loc[Gas_DF['Category'].isna()]
Gas_DF_total

,Year,Region,Index,Source,Category,Sub-category,Sub-sub-category,Total,CO2eq,Unit
1,1990,Alberta,1,Oil and Gas,NaN,NaN,NaN,True,61.96,Mt
49,1990,British Columbia,1,Oil and Gas,NaN,NaN,NaN,True,7.87,Mt
92,1990,Canada,1,Oil and Gas,NaN,NaN,NaN,True,102.65,Mt
141,1990,Manitoba,1,Oil and Gas,NaN,NaN,NaN,True,1.54,Mt
183,1990,New Brunswick,1,Oil and Gas,NaN,NaN,NaN,True,1.22,Mt
...,...,...,...,...,...,...,...,...,...,...
16949,2020,Ontario,1,Oil and Gas,NaN,NaN,NaN,True,7.19,Mt
16991,2020,Prince Edward Island,1,Oil and Gas,NaN,NaN,NaN,True,0.00,Mt
17026,2020,Quebec,1,Oil and Gas,NaN,NaN,NaN,True,2.27,Mt
17065,2020,Saskatchewan,1,Oil and Gas,NaN,NaN,NaN,True,17.32,Mt
17111,2020,Yukon,1,Oil and Gas,NaN,NaN,NaN,True,0.00,Mt

In [52]:
Gas_DF_total.reset_index(inplace=True)
Gas_DF_total.drop('Index', axis=1, inplace=True)

Gas_DF_total

C:\Users\fabio\AppData\Local\Temp\ipykernel_11100\3186528816.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Gas_DF_total.drop('Index', axis=1, inplace=True)

,index,Year,Region,Source,Category,Sub-category,Sub-sub-category,Total,CO2eq,Unit
0,1,1990,Alberta,Oil and Gas,NaN,NaN,NaN,True,61.96,Mt
1,49,1990,British Columbia,Oil and Gas,NaN,NaN,NaN,True,7.87,Mt
2,92,1990,Canada,Oil and Gas,NaN,NaN,NaN,True,102.65,Mt
3,141,1990,Manitoba,Oil and Gas,NaN,NaN,NaN,True,1.54,Mt
4,183,1990,New Brunswick,Oil and Gas,NaN,NaN,NaN,True,1.22,Mt
...,...,...,...,...,...,...,...,...,...,...
398,16949,2020,Ontario,Oil and Gas,NaN,NaN,NaN,True,7.19,Mt
399,16991,2020,Prince Edward Island,Oil and Gas,NaN,NaN,NaN,True,0.00,Mt
400,17026,2020,Quebec,Oil and Gas,NaN,NaN,NaN,True,2.27,Mt
401,17065,2020,Saskatchewan,Oil and Gas,NaN,NaN,NaN,True,17.32,Mt
402,17111,2020,Yukon,Oil and Gas,NaN,NaN,NaN,True,0.00,Mt