In [22]:
import json
import requests
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [23]:
# Data Source:https://www.kaggle.com/datasets/sarahquesnelle/canada-data
Temperature_DF = pd.read_csv("Resources/Canada_Temperature_Data.csv")

Temperature_DF2 = Temperature_DF.loc[(Temperature_DF["Year"] >= 1989) & (Temperature_DF["Year"] <= 2020), :]

Prov_DF = Temperature_DF2.loc[Temperature_DF2["Prov"].isin(["ON", "AB", "QC"]), :]

Prov_DF2 = Prov_DF.drop("Stn_Name", axis=1)

Prov_DF2


# Prov_DF2.to_csv("Canada_Temperature_Data2.csv", index=False)

         Year  Month Prov    Tm     S     P
941030   1989      1   AB -10.4  27.0  35.5
941031   1989      1   AB -11.1  24.0  28.0
941032   1989      1   AB -12.8  37.5  43.5
941033   1989      1   AB  -9.1  36.0  54.0
941034   1989      1   AB -12.9  20.2  23.2
...       ...    ...  ...   ...   ...   ...
1357243  2017      9   QC  13.5   0.0  62.4
1357244  2017      9   QC  14.5   0.0  83.8
1357245  2017      9   QC  14.1   0.0  52.2
1357246  2017      9   QC   9.3   0.0  76.4
1357247  2017      9   QC   6.6   1.0  65.6

[182181 rows x 6 columns]

In [24]:
Canada_Temperature_DF = pd.read_csv("Resources/Canada_Temperature_Data2.csv")


Canada_Temperature_DF['Year'] = Canada_Temperature_DF['Year'].astype(str)


Canada_Temperature_DF.head(10)

,Year,Month,Seasons,Province,Average Temperature,Average Snowfall Recorded,Average Precipitation Recorded
0,1989,1,Winter,AB,-10.4,27.0,35.5
1,1989,1,Winter,AB,-11.1,24.0,28.0
2,1989,1,Winter,AB,-12.8,37.5,43.5
3,1989,1,Winter,AB,-9.1,36.0,54.0
4,1989,1,Winter,AB,-12.9,20.2,23.2
5,1989,1,Winter,AB,-9.4,29.8,45.6
6,1989,1,Winter,AB,-11.0,20.8,31.0
7,1989,1,Winter,AB,-9.5,47.9,62.7
8,1989,1,Winter,AB,-11.0,35.6,39.0
9,1989,1,Winter,AB,-11.9,29.4,44.4

In [29]:
# group by year, season, and province
grouped = Canada_Temperature_DF.groupby(['Year', 'Seasons', 'Province'])

# calculate summary statistics
summary_stats = grouped.agg({'Average Temperature': ['mean', 'median', 'std', 'var', 'sem'],
                             'Average Snowfall Recorded': ['mean', 'median', 'std', 'var', 'sem'],
                             'Average Precipitation Recorded': ['mean', 'median', 'std', 'var', 'sem']})

# flatten multi-level column names
summary_stats.columns = ['_'.join(col).strip() for col in summary_stats.columns.values]

# reset index
summary_stats = summary_stats.reset_index()


Prov_ON = summary_stats.loc[summary_stats["Province"].isin(["ON"]), :]
Prov_AB = summary_stats.loc[summary_stats["Province"].isin(["AB"]), :]
Prov_QC = summary_stats.loc[summary_stats["Province"].isin(["QC"]), :]

# print summary statistics by year, season, and province
print(Prov_AB)

     Year Seasons Province  Average Temperature_mean  \
0    1989  Autumn       AB                 -2.162500
3    1989  Spring       AB                  9.460788
6    1989  Summer       AB                 14.207393
9    1989  Winter       AB                -11.405893
12   1990  Autumn       AB                 -5.906480
..    ...     ...      ...                       ...
333  2016  Winter       AB                 -3.481915
336  2017  Autumn       AB                 -3.464516
339  2017  Spring       AB                 10.230769
342  2017  Summer       AB                 15.566667
345  2017  Winter       AB                 -7.524638

     Average Temperature_median  Average Temperature_std  \
0                         -3.00                 5.608096
3                          9.70                 4.161009
6                         14.90                 3.297703
9                        -11.30                 3.722552
12                        -6.40                 7.690955
..                          ...                      ...
333                       -2.60                 4.868131
336                       -6.05                 6.531189
339                       12.10                 5.202671
342                       16.30                 3.034798
345                       -7.90                 4.000934

     Average Temperature_var  Average Temperature_sem  \
0                  31.450740                 0.230491
3                  17.313996                 0.134017
6                  10.874845                 0.104230
9                  13.857396                 0.154972
12                 59.150782                 0.321856
..                       ...                      ...
333                23.698702                 0.502109
336                42.656425                 0.829462
339                27.067788                 0.645312
342                 9.210000                 0.382349
345                16.007472                 0.481656

     Average Snowfall Recorded_mean  Average Snowfall Recorded_median  \
0                         16.755574                             14.35
3                          8.308506                              0.00
6                          0.482617                              0.00
9                         23.591161                             18.80
12                        28.298599                             23.00
..                              ...                               ...
333                       12.204255                             10.65
336                       18.233871                             14.80
339                        9.041538                              0.00
342                        0.542857                              0.00
345                       17.634783                             16.00

     Average Snowfall Recorded_std  Average Snowfall Recorded_var  \
0                        14.862403                     220.891035
3                        15.529925                     241.178578
6                         2.877443                       8.279678
9                        20.179522                     407.213099
12                       23.482191                     551.413296
..                             ...                            ...
333                      10.291628                     105.917616
336                      16.498911                     272.214080
339                      17.605955                     309.969654
342                       2.509962                       6.299908
345                      10.015383                     100.307890

     Average Snowfall Recorded_sem  Average Precipitation Recorded_mean  \
0                         0.610841                            24.153209
3                         0.500185                            52.799585
6                         0.090947                            76.194805
9                         0.840084                            23.662565
12                        0.982699                            30.960946
..                             ...                                  ...
333                       1.061500                            12.642553
336                       2.095364                            23.887097
339                       2.183750                            59.453846
342                       0.316225                            42.257143
345                       1.205710                            17.289855

     Average Precipitation Recorded_median  \
0                                    20.25
3                                    51.65
6                                    63.60
9                                    18.60
12                                   25.00
..                                     ...
333                                  11.30
336                                  24.85
339                                  61.20
342                                  33.00
345                                  16.00

     Average Precipitation Recorded_std  Average Precipitation Recorded_var  \
0                             17.958315                          322.501073
3                             35.653233                         1271.153001
6                             50.524358                         2552.710733
9                             20.693364                          428.215298
12                            26.411063                          697.544244
..                                  ...                                 ...
333                            9.469390                           89.669353
336                           15.785514                          249.182454
339                           26.259469                          689.559712
342                           30.641726                          938.915392
345                            9.757413                           95.207101

     Average Precipitation Recorded_sem
0                              0.738082
3                              1.148313
6                              1.596922
9                              0.861476
12                             1.105269
..                                  ...
333                            0.976693
336                            2.004762
339                            3.257086
342                            3.860495
345                            1.174654

[116 rows x 18 columns]

In [50]:
# save summary_stats to Excel file
summary_stats.to_excel('summary_stats.xlsx', index=False)