In [5]:
import json
import requests
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [26]:
# Data Source:https://www.kaggle.com/datasets/sarahquesnelle/canada-data
Temperature_DF = pd.read_csv("Resources/Canada_Temperature_Data.csv")

Temperature_DF2 = Temperature_DF.loc[(Temperature_DF["Year"] >= 1989) & (Temperature_DF["Year"] <= 2020), :]

Prov_DF = Temperature_DF2.loc[Temperature_DF2["Prov"].isin(["ON", "BC", "AB"]), :]

Prov_DF2 = Prov_DF.drop("Stn_Name", axis=1)

Prov_DF2


# Prov_DF2.to_csv("Canada_Temperature_Data2.csv", index=False)

         Year  Month Prov    Tm     S      P
940514   1989      1   BC   4.8  12.0  135.6
940515   1989      1   BC   2.6  26.1  252.7
940516   1989      1   BC   3.3  23.6  282.8
940517   1989      1   BC   3.0   8.9  106.0
940518   1989      1   BC   2.8  22.4  170.7
...       ...    ...  ...   ...   ...    ...
1357235  2017      9   ON  17.4   0.0   54.1
1357236  2017      9   ON  19.1   0.0   46.4
1357237  2017      9   ON  18.4   0.0   34.2
1357238  2017      9   ON  16.0   0.0   55.0
1357239  2017      9   ON  15.5   0.0   66.6

[212139 rows x 6 columns]

In [29]:
Canada_Temperature_DF = pd.read_csv("Resources/Canada_Temperature_Data2.csv")


Canada_Temperature_DF['Year'] = Canada_Temperature_DF['Year'].astype(str)


Canada_Temperature_DF.head(10)

# Notes

## Average temperature recorded over a given Month. (in Celsius)
## The total Snowfall recorded for a given Month. (in centimeters)
## The total precipitation recorded over a given month. (in millimeters)

,Province,Year,Month,Seasons,Average Temperature,Average Snowfall Recorded,Average Precipitation Recorded
0,AB,1989.0,Jan,Winter,-10.41,35.57,36.57
1,AB,1989.0,Feb,Winter,-15.00,16.96,16.23
2,AB,1989.0,Mar,Winter,-8.81,17.71,17.61
3,AB,1989.0,Apr,Spring,4.80,8.56,16.32
4,AB,1989.0,May,Spring,8.64,16.10,60.84
5,AB,1989.0,Jun,Spring,13.65,0.75,71.83
6,AB,1989.0,Jul,Summer,16.45,0.00,83.52
7,AB,1989.0,Aug,Summer,15.06,0.49,100.48
8,AB,1989.0,Sep,Summer,10.20,1.09,34.99
9,AB,1989.0,Oct,Autumn,4.38,5.89,19.69