In [1]:
import json
import requests
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
# Data Source:https://www.kaggle.com/datasets/sarahquesnelle/canada-data
Temperature_DF = pd.read_csv("Resources/Canada_Temperature_Data.csv")

Temperature_DF2 = Temperature_DF.loc[(Temperature_DF["Year"] >= 1989) & (Temperature_DF["Year"] <= 2020), :]

Prov_DF = Temperature_DF2.loc[Temperature_DF2["Prov"].isin(["ON", "AB", "QC"]), :]

Prov_DF2 = Prov_DF.drop("Stn_Name", axis=1)

Prov_DF2


# Prov_DF2.to_csv("Canada_Temperature_Data2.csv", index=False)

         Year  Month Prov    Tm     S     P
941030   1989      1   AB -10.4  27.0  35.5
941031   1989      1   AB -11.1  24.0  28.0
941032   1989      1   AB -12.8  37.5  43.5
941033   1989      1   AB  -9.1  36.0  54.0
941034   1989      1   AB -12.9  20.2  23.2
...       ...    ...  ...   ...   ...   ...
1357243  2017      9   QC  13.5   0.0  62.4
1357244  2017      9   QC  14.5   0.0  83.8
1357245  2017      9   QC  14.1   0.0  52.2
1357246  2017      9   QC   9.3   0.0  76.4
1357247  2017      9   QC   6.6   1.0  65.6

[182181 rows x 6 columns]

In [4]:
Canada_Temperature_DF = pd.read_csv("Resources/Canada_Temperature_Data2.csv")


Canada_Temperature_DF['Year'] = Canada_Temperature_DF['Year'].astype(str)


Canada_Temperature_DF.head(10)

# Notes

## Average temperature recorded over a given Month. (in Celsius)
## The total Snowfall recorded for a given Month. (in centimeters)
## The total precipitation recorded over a given month. (in millimeters)

,Province,Year,Month,Seasons,Average Temperature,Average Snowfall Recorded,Average Precipitation Recorded
0,AB,1989.0,Jan,Winter,-10.41,35.57,36.57
1,AB,1989.0,Feb,Winter,-15.00,16.96,16.23
2,AB,1989.0,Mar,Winter,-8.81,17.71,17.61
3,AB,1989.0,Apr,Spring,4.80,8.56,16.32
4,AB,1989.0,May,Spring,8.64,16.10,60.84
5,AB,1989.0,Jun,Spring,13.65,0.75,71.83
6,AB,1989.0,Jul,Summer,16.45,0.00,83.52
7,AB,1989.0,Aug,Summer,15.06,0.49,100.48
8,AB,1989.0,Sep,Summer,10.20,1.09,34.99
9,AB,1989.0,Oct,Autumn,4.38,5.89,19.69

In [49]:
# group by year, season, and province
grouped = Canada_Temperature_DF.groupby(['Year', 'Seasons', 'Province'])

# calculate summary statistics
summary_stats = grouped.agg({'Average Temperature': ['mean', 'median', 'std', 'var', 'sem'],
                             'Average Snowfall Recorded': ['mean', 'median', 'std', 'var', 'sem'],
                             'Average Precipitation Recorded': ['mean', 'median', 'std', 'var', 'sem']})

# flatten multi-level column names
summary_stats.columns = ['_'.join(col).strip() for col in summary_stats.columns.values]

# reset index
summary_stats = summary_stats.reset_index()

# print summary statistics by year, season, and province
print(summary_stats)

       Year Seasons     Province  Average Temperature_mean  \
0    1989.0  Autumn           AB                 -2.196667
1    1989.0  Autumn           BC                  3.343333
2    1989.0  Autumn           ON                 -1.750000
3    1989.0  Spring           AB                  9.030000
4    1989.0  Spring           BC                 11.196667
..      ...     ...          ...                       ...
344  2017.0  Summer           ON                 18.530000
345  2017.0  Winter           AB                 -7.510000
346  2017.0  Winter           BC                 -0.410000
347  2017.0  Winter           ON                 -3.233333
348     nan    #N/D  Total Geral                  6.360000

     Average Temperature_median  Average Temperature_std  \
0                         -3.28                 6.107490
1                          2.34                 3.514119
2                         -0.53                11.020762
3                          8.64                 4.437871
4                         10.88                 3.615416
..                          ...                      ...
344                       18.68                 1.520559
345                       -8.38                 2.491646
346                       -1.29                 2.613580
347                       -3.13                 0.770216
348                        6.36                      NaN

     Average Temperature_var  Average Temperature_sem  \
0                  37.301433                 3.526161
1                  12.349033                 2.028878
2                 121.457200                 6.362840
3                  19.694700                 2.562206
4                  13.071233                 2.087361
..                       ...                      ...
344                 2.312100                 0.877895
345                 6.208300                 1.438553
346                 6.830800                 1.508951
347                 0.593233                 0.444685
348                      NaN                      NaN

     Average Snowfall Recorded_mean  Average Snowfall Recorded_median  \
0                         16.803333                             21.11
1                         18.710000                             22.80
2                         30.030000                             33.46
3                          8.470000                              8.56
4                          2.853333                              1.68
..                              ...                               ...
344                        0.000000                              0.00
345                       17.706667                             18.19
346                       31.380000                             32.50
347                       30.670000                             34.92
348                       12.900000                             12.90

     Average Snowfall Recorded_std  Average Snowfall Recorded_var  \
0                         9.520931                      90.648133
1                        13.122092                     172.189300
2                        24.813442                     615.706900
3                         7.675396                      58.911700
4                         3.539016                      12.524633
..                             ...                            ...
344                       0.000000                       0.000000
345                       4.225782                      17.857233
346                      15.181018                     230.463300
347                       8.439840                      71.230900
348                            NaN                            NaN

     Average Snowfall Recorded_sem  Average Precipitation Recorded_mean  \
0                         5.496912                            24.170000
1                         7.576043                           142.560000
2                        14.326047                            83.160000
3                         4.431392                            49.663333
4                         2.043252                            60.450000
..                             ...                                  ...
344                       0.000000                            78.516667
345                       2.439756                            17.363333
346                       8.764765                           127.206667
347                       4.872744                            68.783333
348                            NaN                            75.580000

     Average Precipitation Recorded_median  \
0                                    24.97
1                                   123.85
2                                    78.07
3                                    60.84
4                                    59.85
..                                     ...
344                                  86.13
345                                  17.83
346                                 111.52
347                                  72.34
348                                  75.58

     Average Precipitation Recorded_std  Average Precipitation Recorded_var  \
0                              4.138405                           17.126400
1                             35.685713                         1273.470100
2                             28.191756                          794.775100
3                             29.394361                          864.028433
4                              5.146300                           26.484400
..                                  ...                                 ...
344                           18.925637                          358.179733
345                            4.488233                           20.144233
346                           44.418439                         1972.997733
347                            7.143209                           51.025433
348                                 NaN                                 NaN

     Average Precipitation Recorded_sem
0                              2.389310
1                             20.603156
2                             16.276518
3                             16.970842
4                              2.971217
..                                  ...
344                           10.926722
345                            2.591282
346                           25.644998
347                            4.124134
348                                 NaN

[349 rows x 18 columns]

In [50]:
# save summary_stats to Excel file
summary_stats.to_excel('summary_stats.xlsx', index=False)