In [2]:
import json
import requests
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [6]:
# Data Source:https://unstats.un.org/sdgs/UNSDGAPIV5/swagger/index.html
un_goals = pd.read_csv("Resources/UN_Goals.csv")

un_goals_clean = un_goals[["Target", 'GeoAreaName', 'TimePeriod', 'Value', '[Units]']]
un_goals_clean.head()

  Target GeoAreaName  TimePeriod  Value         [Units]
0   13.1      Canada      2017.0    0.0          NUMBER
1   13.1      Canada      2018.0    0.0          NUMBER
2   13.1      Canada      2017.0    0.0  PER_100000_POP
3   13.1      Canada      2018.0    0.0  PER_100000_POP
4   13.1      Canada      2017.0    0.0          NUMBER

In [7]:
un_goals_count = len(un_goals_clean['Target'].value_counts())
un_goals_count

4

In [8]:
un_goal_aveg=un_goals_clean["Value"].mean() 
un_goal_aveg

140.72921841463432

In [9]:
total_un_goals_clean=un_goals_clean.groupby('TimePeriod').agg({'Value':["mean","median","min","max"]})
total_un_goals_clean

                 Value
                  mean     median        min        max
TimePeriod
1990.0      601.523690  601.52369  601.52369  601.52369
1991.0      595.776730  595.77673  595.77673  595.77673
1992.0      613.598520  613.59852  613.59852  613.59852
1993.0      616.798390  616.79839  616.79839  616.79839
1994.0      638.000470  638.00047  638.00047  638.00047
1995.0      656.298720  656.29872  656.29872  656.29872
1996.0      678.714490  678.71449  678.71449  678.71449
1997.0      691.195370  691.19537  691.19537  691.19537
1998.0      696.901520  696.90152  696.90152  696.90152
1999.0      709.600920  709.60092  709.60092  709.60092
2000.0      733.511340  733.51134  733.51134  733.51134
2001.0      722.935010  722.93501  722.93501  722.93501
2002.0      726.555180  726.55518  726.55518  726.55518
2003.0      744.831890  744.83189  744.83189  744.83189
2004.0      745.919780  745.91978  745.91978  745.91978
2005.0      738.718600  738.71860  738.71860  738.71860
2006.0      730.101940  730.10194  730.10194  730.10194
2007.0      751.661270  751.66127  751.66127  751.66127
2008.0      735.692850  735.69285  735.69285  735.69285
2009.0      693.597900  693.59790  693.59790  693.59790
2010.0      702.802750  702.80275  702.80275  702.80275
2011.0       57.538465    2.77000    0.17000  714.07851
2012.0       57.797314    2.35000    0.05000  717.17239
2013.0       61.232989    3.63500    0.06000  725.37184
2014.0       61.589119    3.14500    0.12000  722.55767
2015.0       62.814001    3.75000    0.19000  723.09602
2016.0       62.818851    4.55500    0.19000  706.93391
2017.0       48.619557    3.46000    0.00000  716.09201
2018.0       50.511011    4.56000    0.00000  728.47589
2019.0      730.244940  730.24494  730.24494  730.24494
2020.0        0.797250    0.80700    0.70000    0.87500
2021.0       52.444444   26.50000    1.00000  190.00000

In [10]:
# Data Source: https://data.ec.gc.ca/data/substances/monitor/canada-s-official-greenhouse-gas-inventory/B-Economic-Sector/?lang=en

canada_result = pd.read_csv("Resources/Economic_Sector_Canada.csv")
canada_result.head()

,Sectors - Mt CO2 eq,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,NATIONAL TOTAL,595,588,605,608,628,645,667,682,689,...,721,726,732,730,733,715,725,740,738,672
1,Oil and Gas,103,102,111,118,122,128,135,137,141,...,187,194,199,205,205,194,196,205,203,179
2,Electricity,95,96,103,93,95,98,98,109,122,...,87,83,80,76,80,74,73,63,62,56
3,Transport,120,114,115,117,121,122,126,131,137,...,168,171,174,171,172,173,179,184,185,159
4,Heavy Industry,97,97,95,94,100,100,103,103,98,...,80,80,79,79,78,76,76,77,77,72

In [13]:
#transposed
df1 = canada_result.set_index(['Sectors - Mt CO2 eq'])
df2 = df1.transpose()
df3 = df2[['Oil and Gas', 'Electricity', 'Transport']]
df4 = df3.reset_index()
transpose_can_result = df4.rename(columns={'index':'Years'})
transpose_can_result

Sectors - Mt CO2 eq Years  Oil and Gas  Electricity  Transport
0                    1990          103           95        120
1                    1991          102           96        114
2                    1992          111          103        115
3                    1993          118           93        117
4                    1994          122           95        121
5                    1995          128           98        122
6                    1996          135           98        126
7                    1997          137          109        131
8                    1998          141          122        137
9                    1999          150          119        143
10                   2000          155          129        145
11                   2001          157          129        147
12                   2002          162          124        148
13                   2003          166          127        152
14                   2004          168          119        156
15                   2005          171          118        160
16                   2006          178          112        161
17                   2007          183          120        164
18                   2008          180          109        165
19                   2009          177           94        162
20                   2010          181           95        167
21                   2011          187           87        168
22                   2012          194           83        171
23                   2013          199           80        174
24                   2014          205           76        171
25                   2015          205           80        172
26                   2016          194           74        173
27                   2017          196           73        179
28                   2018          205           63        184
29                   2019          203           62        185
30                   2020          179           56        159

,Sectors - Mt CO2 eq,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,NATIONAL TOTAL,595,588,605,608,628,645,667,682,689,...,721,726,732,730,733,715,725,740,738,672
1,Oil and Gas,103,102,111,118,122,128,135,137,141,...,187,194,199,205,205,194,196,205,203,179
2,Electricity,95,96,103,93,95,98,98,109,122,...,87,83,80,76,80,74,73,63,62,56
3,Transport,120,114,115,117,121,122,126,131,137,...,168,171,174,171,172,173,179,184,185,159
4,Heavy Industry,97,97,95,94,100,100,103,103,98,...,80,80,79,79,78,76,76,77,77,72
5,Buildings,71,71,72,76,76,77,83,81,72,...,85,83,84,85,84,82,87,93,92,88
6,Agriculture,52,52,55,57,59,62,63,64,64,...,62,64,65,64,65,65,64,66,67,69
7,Waste,24,25,25,25,26,26,26,26,27,...,26,26,26,26,26,26,27,27,27,27
8,Coal Production,4,4,4,4,4,4,4,4,3,...,3,3,3,2,2,2,2,3,3,2
9,"Light Manufacturing, Construction and Forest R...",28,27,26,24,25,27,27,28,24,...,23,22,22,21,21,21,22,22,22,20

In [4]:
# Data Source: https://data.ec.gc.ca/data/substances/monitor/canada-s-official-greenhouse-gas-inventory/B-Economic-Sector/?lang=en

Provices_Result = pd.read_csv("Resources/Economic_Sector_Prov.csv")
Provices_Result.head(20)

,Year,Region,Index,Source,CO2eq,Unit
0,1990,Alberta,0,Provincial Inventory Total,165.65,Mt
1,1990,Alberta,1,Oil and Gas,61.96,Mt
2,1990,Alberta,2,Electricity,39.76,Mt
3,1990,Alberta,3,Transport,15.78,Mt
4,1990,Alberta,4,Heavy Industry,12.59,Mt
5,1990,Alberta,5,Buildings,12.03,Mt
6,1990,Alberta,6,Agriculture,14.95,Mt
7,1990,Alberta,7,Waste,2.4,Mt
8,1990,Alberta,8,Coal Production,0.6,Mt
9,1990,Alberta,9,"Light Manufacturing, Construction and Forest R...",5.58,Mt
10,1990,British Columbia,10,Provincial Inventory Total,51.67,Mt
11,1990,British Columbia,11,Oil and Gas,7.87,Mt
12,1990,British Columbia,12,Electricity,0.86,Mt
13,1990,British Columbia,13,Transport,15.82,Mt
14,1990,British Columbia,14,Heavy Industry,8.72,Mt
15,1990,British Columbia,15,Buildings,7.53,Mt
16,1990,British Columbia,16,Agriculture,2.48,Mt
17,1990,British Columbia,17,Waste,4.08,Mt
18,1990,British Columbia,18,Coal Production,1.75,Mt
19,1990,British Columbia,19,"Light Manufacturing, Construction and Forest R...",2.56,Mt