In [2]:
import json
import requests
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
# Data Source:https://unstats.un.org/sdgs/UNSDGAPIV5/swagger/index.html
UN_Goals = pd.read_csv("Resources/UN_Goals.csv")

UN_Goals_clean = UN_Goals[["Target", 'GeoAreaName', 'TimePeriod', 'Value', '[Units]']]
UN_Goals_clean.head(20)

   Target GeoAreaName  TimePeriod      Value         [Units]
0    13.1      Canada      2017.0    0.00000          NUMBER
1    13.1      Canada      2018.0    0.00000          NUMBER
2    13.1      Canada      2017.0    0.00000  PER_100000_POP
3    13.1      Canada      2018.0    0.00000  PER_100000_POP
4    13.1      Canada      2017.0    0.00000          NUMBER
5    13.1      Canada      2018.0    0.00000          NUMBER
6    13.1      Canada      2017.0    0.00000          NUMBER
7    13.1      Canada      2018.0    0.00000          NUMBER
8    13.1       World      2021.0  123.00000          NUMBER
9    13.2      Canada      1990.0  601.52369         MT_CO2E
10   13.2      Canada      1991.0  595.77673         MT_CO2E
11   13.2      Canada      1992.0  613.59852         MT_CO2E
12   13.2      Canada      1993.0  616.79839         MT_CO2E
13   13.2      Canada      1994.0  638.00047         MT_CO2E
14   13.2      Canada      1995.0  656.29872         MT_CO2E
15   13.2      Canada      1996.0  678.71449         MT_CO2E
16   13.2      Canada      1997.0  691.19537         MT_CO2E
17   13.2      Canada      1998.0  696.90152         MT_CO2E
18   13.2      Canada      1999.0  709.60092         MT_CO2E
19   13.2      Canada      2000.0  733.51134         MT_CO2E

In [4]:
# Data Source: https://data.ec.gc.ca/data/substances/monitor/canada-s-official-greenhouse-gas-inventory/B-Economic-Sector/?lang=en

Canada_Result = pd.read_csv("Resources/Economic_Sector_Canada.csv")
Canada_Result.head(20)

,Sectors - Mt CO2 eq,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,NATIONAL TOTAL,595,588,605,608,628,645,667,682,689,...,721,726,732,730,733,715,725,740,738,672
1,Oil and Gas,103,102,111,118,122,128,135,137,141,...,187,194,199,205,205,194,196,205,203,179
2,Electricity,95,96,103,93,95,98,98,109,122,...,87,83,80,76,80,74,73,63,62,56
3,Transport,120,114,115,117,121,122,126,131,137,...,168,171,174,171,172,173,179,184,185,159
4,Heavy Industry,97,97,95,94,100,100,103,103,98,...,80,80,79,79,78,76,76,77,77,72
5,Buildings,71,71,72,76,76,77,83,81,72,...,85,83,84,85,84,82,87,93,92,88
6,Agriculture,52,52,55,57,59,62,63,64,64,...,62,64,65,64,65,65,64,66,67,69
7,Waste,24,25,25,25,26,26,26,26,27,...,26,26,26,26,26,26,27,27,27,27
8,Coal Production,4,4,4,4,4,4,4,4,3,...,3,3,3,2,2,2,2,3,3,2
9,"Light Manufacturing, Construction and Forest R...",28,27,26,24,25,27,27,28,24,...,23,22,22,21,21,21,22,22,22,20

In [5]:
# Data Source: https://data.ec.gc.ca/data/substances/monitor/canada-s-official-greenhouse-gas-inventory/B-Economic-Sector/?lang=en

Provices_Result = pd.read_csv("Resources/Economic_Sector_Prov.csv")
Provices_Result.head(20)

,Year,Region,Index,Source,Category,Sub-category,Sub-sub-category,Total,CO2eq,Unit
0,1990,Alberta,0,Provincial Inventory Total,NaN,NaN,NaN,True,165.65,Mt
1,1990,Alberta,1,Oil and Gas,NaN,NaN,NaN,True,61.96,Mt
2,1990,Alberta,2,Oil and Gas,Upstream Oil and Gas,NaN,NaN,True,58.36,Mt
3,1990,Alberta,3,Oil and Gas,Upstream Oil and Gas,Natural Gas Production and Processing,NaN,False,23.94,Mt
4,1990,Alberta,4,Oil and Gas,Upstream Oil and Gas,Conventional Oil Production,NaN,True,15.49,Mt
5,1990,Alberta,5,Oil and Gas,Upstream Oil and Gas,Conventional Oil Production,Conventional Light Oil Production,False,9.77,Mt
6,1990,Alberta,6,Oil and Gas,Upstream Oil and Gas,Conventional Oil Production,Conventional Heavy Oil Production,False,5.73,Mt
7,1990,Alberta,8,Oil and Gas,Upstream Oil and Gas,"Oil Sands (Mining, In-situ, Upgrading)",NaN,True,15.05,Mt
8,1990,Alberta,9,Oil and Gas,Upstream Oil and Gas,"Oil Sands (Mining, In-situ, Upgrading)",Mining and Extraction,False,2.17,Mt
9,1990,Alberta,10,Oil and Gas,Upstream Oil and Gas,"Oil Sands (Mining, In-situ, Upgrading)",In-situ,False,4.53,Mt
10,1990,Alberta,11,Oil and Gas,Upstream Oil and Gas,"Oil Sands (Mining, In-situ, Upgrading)",Upgrading,False,8.35,Mt
11,1990,Alberta,12,Oil and Gas,Upstream Oil and Gas,"Oil, Natural Gas and CO2 Transmission",NaN,False,3.87,Mt
12,1990,Alberta,13,Oil and Gas,Downstream Oil and Gas,NaN,NaN,True,3.61,Mt
13,1990,Alberta,14,Oil and Gas,Downstream Oil and Gas,Petroleum Refining,NaN,False,3.19,Mt
14,1990,Alberta,15,Oil and Gas,Downstream Oil and Gas,Natural Gas Distribution,NaN,False,0.41,Mt
15,1990,Alberta,16,Electricity,NaN,NaN,NaN,False,39.76,Mt
16,1990,Alberta,17,Transport,NaN,NaN,NaN,True,15.78,Mt
17,1990,Alberta,18,Transport,Passenger Transport,NaN,NaN,True,9.06,Mt
18,1990,Alberta,19,Transport,Passenger Transport,"Cars, Light Trucks and Motorcycles",NaN,False,8.04,Mt
19,1990,Alberta,20,Transport,Passenger Transport,"Bus, Rail and Aviation",NaN,False,1.02,Mt